body{
    margin: 0; padding: 0;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
section{
    margin-top: 5%;
}
.div_1{
    font-size: 1.2rem;
    color: #fff;
}
.version{
    font-size: 18em;
    color: #fff;
}
.image_tafa{
    margin: 0;
    padding: 0 !important;
}